<!DOCTYPE html PUBLIC "-W3CDTD XHTML 1.0 TransitionalEN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
</h:head>
<body>

	<f:view locale="#{facesContext.externalContext.requestLocale}" />

	<p:ajaxStatus style="width:16px;height:16px;" id="ajaxStatusPanel">
		<f:facet name="start">
			<h:graphicImage value="/images/loading.gif"
				style="text-align:center;width:40px;height:40px;" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
	<BR />

	<h:form>
		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />  
		<p:commandLink ajax="false"
			action="/view.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal">
			<p:graphicImage value="/images/Home-Button.png" />
		</p:commandLink>
		<p:graphicImage value="/images/flags/#{myBean.selectedCountry}.png"
			style="text-align:center;width:30px;height:30px;" />
	</h:form>

	<h:form>
            <h3>#{msg['ui.searchmask.info']}</h3>

            <h:panelGrid columns="2">

                    <ui:repeat value="#{myBean.identifiers}" var="identifier">
                        <h:outputLabel value="#{identifier.key}" />
                        <p:inputText id="uservalue" value="#{identifier.userValue}" required="true" />
                    </ui:repeat>
</h:panelGrid>
                        <h:panelGrid columns="2" id="aa">

                     <ui:repeat value="#{myBean.demographics}" var="demographic">
			<h:outputLabel value="#{demographic.label}" rendered="#{myBean.showDemographics}"/>
                        <p:inputText id="userValue2" value="#{demographic.userValue}" 
                                    required="#{demographic.mandatory}" rendered="#{demographic.type=='text'}" />
                        <p:calendar value="#{demographic.userDateValue}" id="userDateValue2" 
						rendered="#{demographic.type=='calendar'}" pattern="yyyyMMdd" 
						navigator="true" >
                                <f:convertDateTime pattern="yyyyMMdd"/>  
                        </p:calendar>			
                     </ui:repeat>
                        </h:panelGrid>                
            
		
		<p:commandButton 
			value="#{msg['ui.search.info']}"
			ajax="true" actionListener="#{myBean.searchPatients}"
			update="resultPanel" oncomplete="panelwv.show();">
		</p:commandButton>
                <p/>
            
		<p:panel widgetVar="panelwv" visible="false" closable="true"
			toggleable="true" id="resultPanel">
                        
                    <h:outputLabel value="#{myBean.queryPatientsException}" />
                    
                        <ui:repeat value="#{myBean.patients}" var="patient" id="patui">
                                
        		<table>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.givenname']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.name}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.surname']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.familyName}" /></td>
				</tr>
                                <tr>
					<td><b><h:outputText value="#{msg['patient.data.birth.date']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.birthDate}" /></td>
				</tr>                            
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.street.address']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.address}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.code']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.postalCode}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.city']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.city}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.country']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.country}" /></td>
				</tr>
			</table>                                                                                              
                              
                            <p:commandLink
                                    action="/viewPatientConfirmationForDocuments.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                    id="p1"
                                    ajax="false"
                                    title="#{msg['navi.report.summary']}"
                                    rendered="#{myBean.assertionNotExists}"
                                    disabled="#{!myBean.enablePatientDocuments}">
                                    <f:setPropertyActionListener value="#{patient}"
                                            target="#{myBean.selectedPatient}" />
                                    #{msg['ui.ps.info']}<br/>

                            </p:commandLink>

                            <p:commandLink 
                                    action="/viewPatientConfirmation.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                    ajax="false"
                                    id="p4"
                                    title="#{msg['navi.report.prescription']}"
                                    rendered="#{myBean.assertionNotExists}"
                                    disabled="#{!myBean.enablePrescriptionDocuments}">
                                    <f:setPropertyActionListener value="#{patient}"
                                            target="#{myBean.selectedPatient}" />
                                    #{msg['ui.ep.info']}<br/>
                            </p:commandLink>

                            <p:commandLink 
                                    action="/viewPatientConfirmationForConsent.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                    ajax="false"
                                    id="p6"
                                    title="#{msg['patient.data.agreement.title']}"
                                    rendered="#{myBean.assertionNotExists and myBean.enableCONSENT}"
                                    disabled="#{!myBean.enablePatientDocuments}">
                                    <f:setPropertyActionListener value="#{patient}"
                                            target="#{myBean.selectedPatient}" />
                                    #{msg['ui.consent.info']}<br/>
                            </p:commandLink>
                            <p:commandLink 
                                action="/viewPatientConfirmationForHCER.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                ajax="false"
                                id="p8"
                                title="#{msg['patient.data.hcer.title']}"
                                rendered="#{myBean.assertionNotExists and myBean.enableHCER}"
                                disabled="#{!myBean.enableHCER}">
                                <f:setPropertyActionListener value="#{patient}"
                                                             target="#{myBean.selectedPatient}" />
                                    #{msg['ui.hcer.info']}<br/>
                            </p:commandLink>
                            <p:commandLink 
                                action="/viewPatientConfirmationForMRO.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                ajax="false"
                                id="p10"
                                title="#{msg['patient.data.mro.title']}"
                                rendered="#{myBean.assertionNotExists and myBean.enableMRO}"
                                disabled="#{!myBean.enableMRO}">
                                <f:setPropertyActionListener value="#{patient}"
                                                             target="#{myBean.selectedPatient}" />
                                    #{msg['ui.mro.info']}<br/>
                            </p:commandLink>                              
                        </ui:repeat>  
                        </p:panel>

			
	</h:form>
</body>
</html>




